<!DOCTYPE html>
<html>
<head>
  <title>TheSortableTreeTest</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'jquery.ui.nestedSortable' %>

  <%= javascript_include_tag 'sortable/base' %>
  <%= javascript_include_tag 'comments/base' %>

  <%= stylesheet_link_tag    'tree',          :media => :all %>
  <%= stylesheet_link_tag    'sortable',      :media => :all %>
  <%= stylesheet_link_tag    'comments_tree', :media => :all %>
</head>
<body>

<%= yield %>

</body>
</html>
